<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="bodenbot_ros2_control" params="name prefix debug:=^|false use_mock_hardware:=^|true">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>bodenbot/SerialController</plugin>
        <param name="mock_hardware">${use_mock_hardware}</param>
        <param name="debug">${debug}</param>
        <param name="i2c_file">/dev/i2c-1</param>
        <param name="i2c_address">34</param>
      </hardware>

      <joint name="right_wheel_1_link_joint">
        <command_interface name="velocity"/>
        <state_interface name="velocity" />
        <state_interface name="position" />
        <param name="id">2</param>
        <param name="reversed">false</param>
      </joint>
      <joint name="right_wheel_2_link_joint">
        <command_interface name="velocity"/>
        <state_interface name="velocity" />
        <state_interface name="position" />
        <param name="id">0</param>
        <param name="reversed">false</param>
      </joint>
      <joint name="right_wheel_3_link_joint">
        <command_interface name="velocity"/>
        <state_interface name="velocity" />
        <state_interface name="position" />
        <param name="id">3</param>
        <param name="reversed">false</param>
      </joint>

      <joint name="left_wheel_1_link_joint">
        <command_interface name="velocity"/>
        <state_interface name="velocity" />
        <state_interface name="position" />
        <param name="id">1</param>
        <param name="reversed">true</param>
      </joint>
      <joint name="left_wheel_2_link_joint">
        <command_interface name="velocity"/>
        <state_interface name="velocity" />
        <state_interface name="position" />
        <param name="id">4</param>
        <param name="reversed">true</param>
      </joint>
      <joint name="left_wheel_3_link_joint">
        <command_interface name="velocity"/>
        <state_interface name="velocity" />
        <state_interface name="position" />
        <param name="id">5</param>
        <param name="reversed">true</param>
      </joint>
    </ros2_control>

  </xacro:macro>
</robot>
